//all utilities included in this scss.
.frontpage {
  &.fp-viewing-0, &.fp-viewing-7 {
    #fp-nav {
      display: none;
    }
  }
}

#fp-nav {
  margin-top: 0 !important;
  height: 100%;
  top: 0;

  ul {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    li {
      height: 80px;
      position: relative;

      &:nth-child(1), &:nth-child(8) {
        display: none;
      }

      &::after{
        position: absolute;
        top: 48px;
        right: 5px;
        content: '';
        width: 2px;
        height: 73px;
        background-color: rgba(255, 255, 255, 0.5);
      }

      &:nth-child(7) {
        &::after {
          content: none;
        }
      }

      a {
        span {
          background-color: rgba(255,255,255,0.5);
          height: 14px;
          width: 14px;
          margin: -6px 0 0 -6px;
          border-radius: 100%;
        }

        &.active {
          span {
            background-color: rgba(255,255,255,1);
            height: 14px;
            width: 14px;
          }
        }
      }

      .fp-tooltip {
        width: auto;
        opacity: 0.4;

        &.right {
          font-weight: bold;
          margin: 35px 10px 35px 0;
          font-size: 0.8rem;
        }
      }
    }
  }

  &::after {
    position: absolute;
    top: 0;
    right: -20px;
    content: '';
    background: linear-gradient(to left, rgba(0,0,0,0.3) 10%, rgba(255,255,255,0) 100%);
    height: 100%;
    width: 350px;
    z-index: -1;
  }
}


.btn {
  &__transparent {
    &--big {
      @include button(button, big, light, none);
        padding: 18px 10px;
        font-size: 1.1rem;
        color: $color--white;

        @include media ($large down) {
		    margin-bottom: 20px;
		}

		@include media ($medium down) {
		    padding: 12px 10px;
		    font-size: 0.95rem;
		}
    }

    &--image {
      @include button(button, image, light, '../src/images/tractor.png');
    }


	&--small {
		@include button(button, small,light);
			padding: 5px 12px;
			font-size: 0.8rem;

			@include media ($medium down) {
			}

		// @include media ($full down) {
		// 	padding: 6px 20px;
		// }
    }
  }

  &__red {
    &--big {
      @include button(button, big, dark, none);
      	font-size: 1.1rem;

      @include media ($medium down) {
      	padding: 18px 12px;
      	font-size: 0.95rem;
      }
    }

    &--small {
		@include button(button, small,dark);
			font-size: 0.8rem;
			margin-right: 15px;

		@include media ($full down) {
			padding: 6px 20px;
      margin-right: 5px;
		}

		@include media ($large down) {
			font-size: 0.85rem;
      margin-bottom: 10px;
		}
    }
  }
}


.buttons-wrapper {
	// padding: 8px 2px; 
  min-width: 210px;
}

input[type="text"] {
	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  		color: $color--grey;
	}

	&::-moz-placeholder { /* Firefox 19+ */
	  color: $color--grey;
	}

	&:-ms-input-placeholder { /* IE 10+ */
	  color: $color--grey;
	}

	&:-moz-placeholder { /* Firefox 18- */
	  color: $color--grey;
	}
}

img {
	width: 100%;
	height: auto;
}

.telephone-ask {
	  position: absolute;
    right: -18%;
    padding: 10px 120px 10px 25px;
    margin-top: 30px;
    text-align: right;
    border-radius: 20px;
    background-color: white;
    z-index: 10;

    @include media($full down) {
      right: -11%;
    }

    @include media($medium down) {
      position: relative;
      display: block;
      border-radius: 0;
      text-align: center;
      padding: 10px 0;
      margin: -5px 0 -50px 0;
      right: 0;
    }

    > p{
    	margin: 0;
    	font-weight: bold;

    	&:first-child {
    		font-size: 0.8rem;
    	}

    	&:last-child {
    		font-size: 1.5rem;
    	}
    }
}

.isorinis {
	&__heading {
		  margin: auto;
    	width: 50%;
   		text-align: center;
   		position: relative;

      @include media($medium down) {
        width: 100%;
        padding: 0 20px;
      }

   		h1 {
   			font-size: 3rem;
    		font-weight: bold;
    		margin-bottom: 10px;

        @include media($medium down) {
          font-size: 2.5rem;
        }

        @include media($small down) {
          font-size: 2rem;
        }
   		}

   		> p {
   			font-size: 1.1rem;

        @include media($medium down) {
           margin: 10px 20px;
        }
   		} 
	}
}

.paging {
  display: block;
  margin-top: 50px;
  margin-bottom: 35px;

  ul {
      text-align: center;
      padding: 0;

      > li {
        margin-right: 15px;
        display: inline-block;

        //varaible pavadinimas neteikiantis informacijos
        // $color--lightestGrey
        // $color--lightGrey
        // $color--grey
        // $color--darkGrey
        // $color--darkerGrey
        // $color--darkestGrey
        // ect
        color: $color--greyOther;
        font-weight: bold;
        width: 20px;

        //netikiu kad negalima buvo apsieiti su graziais skaiciais, nepaisant 19px ir panasiai
        // galima
        padding: 2px 19px 2px 9px;
        border-radius: 50%;

      &.active {
        background-color: $color--primary;
        border-radius: 50%;

        a {
          color: $color--white;
        }
      }

      &:last-child {
        &.active {
          background-color: transparent;
        }
      }

      &:first-child {
        padding: 2px 17px 2px 11px;
      }
      }
  }

  &--right-arrow {
    a {
      // background-image ikonoms o ne img tagas
      display: block;
      background-image: svg-load('right-arrow-pic.svg', 'fill:' $color--darkGrey);
      background-repeat: no-repeat;
      height: 10px;
      width: 10px;
      background-size: 10px;
      background-position: center;
      // > img {
      //   width: 10px;
      // }
    }
  }
}

.news-date {
  color: $color--grey;
  font-size: 0.75rem;
}

.news-text {
  font-size: 1rem;
  font-weight: bold;
  line-height: 25px;

  @include media($large down) {
    font-size: 0.95rem;
  }

  @include media($small down) {
    font-size: 0.85rem;
  }
}


.picture {
  background-repeat: no-repeat;
  padding-left: 30px;
  margin: 0;

  &.telephone {
    background-image: url("../src/images/mobile-pic.png");
    background-size: 12px;
    background-position: center left 5px;
    margin-bottom: 10px;
  }

  &.email {
    background-image: url("../src/images/mail-pic.png");
    background-size: 20px;
    background-position: center left 0px;
  }

  &.location {
    background-image: url("../src/images/location-pic.png");
    background-size: 15px;
    background-position: center left 3px;
    margin-bottom: 10px;
  }
}

.text-naujiena {
    position: absolute;
    top: -15px;
    left: 30px;
    background-color: $color--primary;
    
    p {
      margin: 0;
      padding: 5px 10px;
      text-transform: uppercase;
      color: $color--white;
      font-weight: bold;
    }
}

.color-red {
  color: $color--red;
}

.background-red {
  background-color: $color--red;
  padding: 10px 18px;
  border-radius: 20px;
}

.font-strong {
  font-weight: strong;
}

.other-pages__arrow {
  // margin-top: 30px;
  // margin-bottom: 30px;

  @include media($medium down) {
    margin-top: 20px;
  }
}

.other-pages__arrow {
  width: 20px;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;

  @include media($medium down) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.other-pages__arrow2 {
  width: 20px;
  margin: auto;
  margin-bottom: 0;
  margin-top: 100px;

  @include media($medium down) {
    margin-top: 80px;
  }
}

section {
  &.other-pages {
    display: block;
    max-width: 1020px;
    margin: auto;
  }

  &.heading-block {
    position: relative;
    max-width: none;
    height: 350px;
    // adjust within medias

    .telephone-ask {
      right: -15px;

      @include media($medium down) {
        right: 0;
      }
    }
  }
}
