// klase nieko nepasakanti, galejo buti pavyzdziui main-section__without-image ar kazkas panasaus
.other-pages {
	position: relative;
	background-image: none; 
	background-color: $color--quaternary;
	max-width: 1020px;
	margin: auto;

	&::after,
	&::before {
		position: absolute;
		top: 0;
		width: 2000px;
		height: 100%;
		content: "";
		background-color: $color--quaternary;
	}

	&::after {
		left: 100%;
	}

	&::before {
		right: 100%;
	}
}

.nuoma {
	&.isorinis {
		padding-top: 70px;
		padding-bottom: 30px;

		@include media($large down) {
		  padding-top: 50px;
		}

		@include media($medium down) {
		  padding-top: 30px;
		}
	}
	.isorinis {
		&__models-block {
			// cia ne modifyeris kad -- 
			&--model {
				@include simple-grid;



			    &:nth-child(2n) {
			    	margin-right: 0;
			    }

				> div {
					// img {
					// 	width: 100%;
					// 	height: auto;
					// }
				}

				&-info {
					padding: 0 15px;

					h3 {
						margin-bottom: 10px;
					}

					table {
						margin-bottom: 10px;

						@include media($full down) {
							margin-bottom: 0;
						}
						
						tr {
							display: block;
							border-bottom: 1px solid $color--grey;

							&:last-child {
								border-bottom: none;
							}

							td {
								display: inline-block;
								padding: 5px 0 5px 0;
								width: 50%;


								&:last-child {
									font-weight: bold;
								}
							}

						}
					}
				}
			}
		}

		&__other-nuoma {
			margin: 40px 50px 60px;
			text-align: center;

			@include media ($large down) {
				margin: 40px 0 60px;
			}

			> button {
				margin-right: 15px;
				margin-bottom: 15px;
				color: $color--greyOther;
				text-transform: uppercase;
				font-size: 0.95rem;
				font-weight: bold;

				@include media($medium down) {
					font-size: 0.85rem
				}

				&:hover {
					color: $color--white;
				}

				&.tractor {
					background-image: urL('asdasdasd');
				}

				&.tractor {
					background-image: urL('asdasdasd');
				}
			}
		}
	}
}

button {
	// font-size: 0.8rem !important;
}
