.nuoma-vidinis {
	&.isorinis {
		padding-top: 70px;
		padding-bottom: 30px;

		@include media($large down) {
		  padding-top: 50px;
		}

		@include media($medium down) {
		  padding-top: 30px;
		}
	}

	.isorinis {
		&__models-block {
			background-color: $color--white; 

			&--product-images {
				display: inline-block;
				vertical-align: top;
				width: 45%;

				@include media($large down) {
					display: block;
					margin: auto;
				} 
			}

			&--product-info {
				display: inline-block;
				vertical-align: top;
				width: 55%;
				padding-left: 30px;
				padding-right: 30px;

				@include media($large down) {
					display: block;
					width: 100%;
				}

				ul {
					display: inline-block;
					width: 50%;
					vertical-align: top;
					list-style: none;
					padding: 0;
					font-weight: bold;

					li {
						padding: 5px 0;
						font-size: 1rem;
						border-bottom: 1px solid $color--lightestGrey;

						@include media ($small down) {
							font-size: 0.8rem;
						}

						&:last-child {
							border-bottom: none;
						}
					}
				}

				.model-label {
					color: $color--greyOther;
				}

				.model-value {
					color: $color--darkGrey;

					li {
						&:last-child {
							font-weight: normal;
						}
					}
				}

				> div {
					text-align: right;
    				margin: 40px 0;

    				@include media($small down) {
    					margin: 0;
    					padding-bottom: 10px;
    				}

    				button {
    					padding: 13px 20px;
    					margin-bottom: 30px;

    					@include media($small down) {
    						padding: 8px 15px;
    						margin-bottom: 0;
    					}
    				}
				}
			}
		}

		&__heading {
			> p {
				display: inline-block;
				background-image: svg-load('right-arrow-pic.svg');
				padding-right: 15px;
				background-size: 6px;
			    background-repeat: no-repeat;
			    background-position: center right 4px;

			    &:nth-child(4) {
			    	background-image: none;
			    	font-weight: bold;
			    	font-size: 1rem;
			    }
			}
		}

		&__other-nuoma {
			margin: 40px 0 20px;
    		text-align: center;

			@include media ($large down) {
				margin: 30px 10px 20px;
			}

			@include media ($medium down) {
				margin: 0 10px;
			}

			@include media ($small down) {
				margin-top: 40px;
			}

    		>button {
    			margin-right: 15px;
    			margin-bottom: 15px;
    			text-transform: uppercase;
    			font-size: 0.95rem;
    			font-weight: bold;
    			color: $color--greyOther;

    			&:hover {
					color: $color--white;
				}

    			@include media($large down) {
					font-size: 0.9rem;
					background-size: 40px;
					padding: 10px 20px 10px 70px;
					margin-right: 5px;
				}

				@include media($medium down) {
					font-size: 0.85rem;
					background-image: none;
				    padding: 6px 20px;
				    text-align: center;
				    font-size: 0.75rem;
				}

				span {
					@include media($large down) {
						font-size: 0.9rem;
					}

					@include media ($medium down) {
						font-size: 0.75rem;
					}
				}
    		}
		}
	}
}