.other-pages {
	&.technika {
		padding-top: 30px;
	}
}

.technikos-nuoma {
	&__header-img {
		position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background-image: url('../src/images/technikos-nuoma-pic.png');
	    background-repeat: no-repeat;
	    background-position: center;
	    background-size: 100%;

	    @include media(($full)+93px down) {
	    	background-size: auto;
	    }

	    .isorinis__heading {
    	    position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%, -50%);

	    	> * {
	    		color: $color--white;
	    	}

	    	.other-pages__arrow2 {
	    		position: absolute;
	    		margin: 0;
	    		bottom: -90px;
			    left: 50%;
			    transform: translateX(-50%);
	    	}
	    }
	}

	&.isorinis {
		margin: 10px;

		&__heading {
			margin: auto;
		    width: 50%;
		    text-align: center;
		    position: relative;
		}

		.advantages-table {
			margin-bottom: 60px;
			background-color: $color--white;

			&__column {
				display: inline-block;
				vertical-align: top;
				margin: 0;
				padding-bottom: 30px;

				ul {
					list-style: none;
					padding: 0;

					li {
						color: $color--greyOther;
						font-size: 1.05rem;
						padding: 10px;
						font-weight: $fw-semibold;

						&:last-child {
							@include media($medium up) {
								height: 55px;
							}
						}

						@include media($medium down) {
							height: 50px;
							display: flex;
							align-items: center;
						}

						&:nth-child(2n-1) {
							background-color: $color--lightestGrey;
						}
					}
				}

				h3 {
					text-align: center;
    				padding: 10px 0;
    				text-transform: uppercase;
    				font-weight: bold;
    				font-size: 1.5rem;
				}

				&.first-column {
					width: 50%;
					padding-left: 30px;

					@include media($full down) {
						width: 55%;
					}

					@include media($large down) {
						width: 70%;
						padding-left: 0;
					}

					h3 {
						background-image: url("../src/images/combain.png");
						background-repeat: no-repeat;
						background-size: 45px;
    					background-position: center left 20px;
    					color: $color--greyOther;
    					text-align: left;
   						padding-left: 100px;

   						@include media($large down) {
						    margin: 0;
						    padding: 65px 0 20px 90px;
						    font-size: 1rem;
						    height: 150px;
						}

						// @include media(($large - 124px) down) {
						//     padding: 65px 0 20px 90px;
						// }



						@include media($small down) {
							padding: 67px 15px 46px 75px;
							font-size: 0.8rem;
						}
					}

					li {
						padding-left: 20px;

						@include media($full down) {
							font-size: 1rem;
						}

						@include media($medium down) {
							font-size: 0.9rem;
						}

						@include media($small down) {
							font-size: 0.7rem;
						}
					}
				}

				&.second-column {
					width: 25%;
					outline: 5px solid green;
					position: relative;
					padding-bottom: 0;

					@include media($full down) {
						width: 23%;
					}

					@include media($large down) {
						width: 15%;
					}

					@include media($medium down) {
						outline: 2px solid green;
					}


					h3 {
						color: $color--green;

						@include media($large down) {
						    writing-mode: vertical-lr;
						    margin: 0;
						    padding: 20px;
						    font-size: 1.1rem;
						    height: 150px;
						    padding: 20px 55px;
						}

						@include media(($large - 124px) down) {
						    padding: 20px 45px;
						}

						@include media($medium down) {
							padding: 20px 30px;
							display: flex;
						    align-items: center;
						    justify-content: center;
						    width: 100%;
						}

						@include media($small down) {
							font-size: 0.8rem;
							padding: 15px;
							padding: 20px;
						}
					}

					ul {
						text-align: center;

						li {
							color: $color--green;
							background-image: url("../src/images/tick.svg");
							background-size: 10px;
						    background-repeat: no-repeat;
						    background-position: center left 37%;
						    position: relative;

						    &:last-child {
						    	@include media($medium up) {
						    		padding: 18px;
						    	}
						    }

						    @include media($full down) {
								font-size: 1rem;
							}

							@include media($large down) {
								background-position: center left 30%;
							}

							@include media($medium down) {
								background-image: none;
								font-size: 0.9rem;
								justify-content: center;
							}

							@include media($small down) {
								font-size: 0.7rem;
							}
						}
					}
				}

				&.third-column {
					width: 25%;
					padding-right: 30px;

					@include media($full down) {
						width: 22%;
					}

					@include media($large down) {
						width: 15%;
						padding-right: 0;
					}

					h3 {
						color: $color--red;

						@include media($large down) {
						    writing-mode: vertical-lr;
						    height: 150px;
						    margin: 0;
						    padding: 35px 55px;
						    font-size: 1.1rem;
						}

						@include media(($large - 124px) down) {
						    padding: 20px 45px;
						}

						@include media($medium down) {
							padding: 20px 30px;
							display: flex;
						    align-items: center;
						    justify-content: center;
						    width: 100%;
						}

						@include media($small down) {
							font-size: 0.8rem;
							padding: 20px;
						}
					}

					ul {
						text-align: center;

						li {
							color: $color--red;
							background-image: url("../src/images/cross.svg");
						    background-size: 7px;
						    background-repeat: no-repeat;
						    background-position: center left 38%;

							&:last-child {
						    	@include media($medium up) {
						    		padding: 18px;
						    	}
						    }

						    @include media($full down) {
								font-size: 1rem;
							}

							@include media($large down) {
								background-position: center left 30%;
							}

							@include media($medium down) {
								background-image: none;
								font-size: 0.9rem;
								justify-content: center;
							}

							@include media($small down) {
								font-size: 0.7rem;
							}
						}
					}
				}
			}

			button {
				background-image: svg-load("right-arrow-pic.svg", "fill:" $color--white);
				background-size: 10px;
    			background-repeat: no-repeat;
    			background-position: center right 25px;
    			background-color: $color--green;
    			margin-left: 49%;
			    margin-top: 20px;
    			margin-bottom: 50px;
			    font-size: 1.4rem;
			    padding: 15px 40px;
			    font-weight: $fw-semibold;

    			&:hover {
    				background-color: darken($color--green,10%);
    			}

    			@include media($large down) {
    				background-position: center right 15px;
    				font-size: 1.2rem;
    				padding: 10px 30px;
    			}

    			@include media($medium down) {
    				background-size: 7px;
    				background-position: center right 10px;
    				font-size: 0.9rem;
    				padding: 5px 20px;
    				margin-left: 35%;
    				margin-top: 0;
    				margin-bottom: 20px;
    			}
			}
		}
	}

	.isorinis {

		&__heading {
			    margin-top: 130px;
		    h1 {
		    	color: $color--white;
		    }

		    p {
		    	color: $color--white;
		    }
		}

		&__info-block {
			background-color: white;
			padding: 20px 80px 20px 170px;
			background-image: url("../src/images/nuoma-operatorius.png");
			background-repeat: no-repeat;
			background-position: center left 40px;
			position: relative;
			margin-bottom: 35px;

			@include media($large down) {
			}

			@include media($medium down) {
				background-image: none;
				padding: 20px;
			}

			&--text {
				display: inline-block;
				width: 70%;
				font-weight: bold;
				vertical-align: middle;
				padding: 0 30px 0 0;
				font-weight: normal;

				@include media ($large down) {
					width: 100%;
					display: block;
				}

				@include media ($medium down) {
					padding: 0;
				}

				p {
					font-size: 1.1rem;
					font-weight: $fw-semibold;
					color: $color--lightGrey;

					@include media($large down) {
						font-size: 1.1rem;
					}

					@include media($medium down) {
						margin: 0;
						font-size: 1rem;
					}
				}

				.span-uppercase {
					text-transform: uppercase;
					font-size: 1.4rem;
				}
			}

			&--label {
				display: inline-block;
				width: 30%;
				vertical-align: middle;

				@include media($large down) {
					width: 100%;
					display: block;
					margin-top: 10px;
				}

				> div {

					//ikonoms background-image
					img {
						display: inline-block;
						width: 13px;
						margin-right: 15px;
					}

					p {
						display: inline-block;
						font-size: 1.2rem;
						// margin-top: 0;

						@include media($large down) {
							font-size: 1rem;
						}
					}
				}
			}
		}
	}
}