html {
	font-size: 16px;
	height: 100%;
}

* {
	box-sizing: border-box;
}

body {
   font-family: 'ProximaNova';
   font-size: 0;
   margin: 0;
   padding: 0;
   height: 100%;
}

footer {
	color: #75797A;
    width: 100%;

	a:visited {
		color: #75797A;
	}
}

p {
	font-size: 1.1rem;
	color: $color--greyOther;
}

li {
	font-size: 1.2rem;
}

a {
	text-decoration: none;

	&:visited {
		color: $color--greyOther;
	}
}

label {
	font-size: 1.1rem;

	@include media ($full down) {
		font-size: 1rem;
	}

	@include media ($medium down) {
		font-size: 0.9rem;
	}
}

button {
	font-size: 1.1rem;
}

span {
	font-weight: bold;
	font-size: 1rem;
}

table {
	width: 100%;
	height: auto;
}

td {
	color: $color--greyOther;
}

h1 {
	font-size: 3.8rem;
	color: $color--darkGrey;
	margin-top: 0;

	@include media($medium down) {
		padding-top: 30px;
	}
}

h2 {

}

h3 {
	font-size: 1.3rem;
	color: $color--greyOther; 
	font-weight: $fw-semibold;
}

h4 {

}

html {
   margin: 0;
   padding: 0;
}

section {
	position: relative;
	z-index: 0;
}

td {
	font-size: 1rem;
}

.frontpage section {
	height: 100vh;
	width: 100vw;
}

.frontpage nav {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.frontpage footer {
  position: absolute;
  bottom: 0;
}
