@font-face {
  font-family: 'ProximaNova';
  font-weight: $fw-regular;
  font-style: normal;
  src: url("../src/fonts/ProximaNova-Regular.eot?#iefix");
  src: url("../src/fonts/ProximaNova-Regular.eot?#iefix") format("eot"),
  url("../src/fonts/ProximaNova-Regular.woff2") format("woff2"),
  url("../src/fonts/ProximaNova-Regular.woff") format("woff"),
  url("../src/fonts/ProximaNova-Regular.ttf") format("truetype"),
  url("../src/fonts/ProximaNova-Regular.svg") format("svg");
}

@font-face {
  font-family: 'ProximaNova';
  font-weight: $fw-bold;
  font-style: normal;
  src: url("../src/fonts/ProximaNova-Bold.eot?#iefix");
  src: url("../src/fonts/ProximaNova-Bold.eot?#iefix") format("eot"),
  url("../src/fonts/ProximaNova-Bold.woff2") format("woff2"),
  url("../src/fonts/ProximaNova-Bold.woff") format("woff"),
  url("../src/fonts/ProximaNova-Bold.ttf") format("truetype"),
  url("../src/fonts/ProximaNova-Bold.svg") format("svg");
}

@font-face {
  font-family: 'ProximaNova';
  font-weight: $fw-semibold;
  font-style: normal;
  src: url("../src/fonts/ProximaNova-Semibold.eot?#iefix");
  src: url("../src/fonts/ProximaNova-Semibold.eot?#iefix") format("eot"),
  url("../src/fonts/ProximaNova-Semibold.woff2") format("woff2"),
  url("../src/fonts/ProximaNova-Semibold.woff") format("woff"),
  url("../src/fonts/ProximaNova-Semibold.ttf") format("truetype"),
  url("../src/fonts/ProximaNova-Semibold.svg") format("svg");
}