// Primary Colours
$color--primary:      #B92A30;
$color--secondary:    #9A0000;
$color--tertiary:     #FFCCCC; //menu color
$color--quaternary:   #F1F1F1; //background pilka
$color--quinary:      #9D0B0E; //button color red

// System colors

$color--status: #cecece;
$color--warning: #F00;
$color--success: #0F0;

// Common Colours
$color--black:        #000000;
$color--white:        #FFFFFF;

//50 shades of grey
$color--lightestGrey: #f2f2f2;
$color--lightGrey:    #818181;
$color--grey:         #CCCCCC;
$color--greyOther:    #808080;
$color--darkGrey:     #656565;
$color--pilka:        #B5B5B5;

$color--green:        #339900; //table color
$color--red:          #B82930; //table color