// general code for html, body, regions

.main {
	position: relative;
	
	&-section {
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: 50%;

			@include media($large down) {
		    	background-size: 135%;
		    }

		    @include media($medium down) {
		    	background-size: 230%;
		    }

		    @include media($small down) {
		    	background-size: 320%;
		    }

		    &__info-block {


		    	.btn__transparent--big {

		    		@include media ($medium up) {
		    			padding: 18px 25px;
		    		}
		    	}

			    > button {
			    		font-size: 1.1rem;

			    		@include media($medium down) {
			    			font-size: 0.9rem;
			    			padding: 12px 10px;
			    		}
			    	}
			    }

		&__first {
		    background-image: url("../src/images/layer1.png");

		    .main-section__info-block {
		    	width: 100%;
		    	padding-right: 40%;
		    	margin: auto;
		    	max-width: 1300px;

		    	@include media($full down) {
			    	padding-right: 35%;
			    }

		    	> h1 {
		    		margin-bottom: 30px;
		    	}
		    }
		}

		&__second {
		    background-image: url("../src/images/layer2.png");
		}

		&__third {
		    background-image: url("../src/images/layer3.png");
		}

		&__fourth {
		    background-image: url("../src/images/layer4.png");
		}

		&__fifth {
		    background-image: url("../src/images/layer5.png");
		}

		&__sixth {
		    background-image: url("../src/images/layer6.png");
		}

		&__seventh {
		    background-image: url("../src/images/layer7.png");
		}

		&__info-block {
		    position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			padding-right: 30%;
			max-width: 1300px;

			> h1 {
				font-size: 4.2rem;
		    	color: $color--white;
		    	font-weight: bold;
		    	padding-left: 30px;
		    	margin-bottom: 0;


	    		@include media($full down) {
			    	font-size: 3.8rem;
			    }

			    @include media($medium down) {
			    	font-size: 2.8rem;
			    }

				@include media($small down) {
			    	font-size: 2.2rem;
			    }
		    }

		    > button {
	    		margin-left: 30px;
		    }

		    > p {
		    	color: white;
		    	padding-left: 30px;
		    	font-size: 1.15rem;
		    	width: 60%;
		    	margin-bottom: 40px;


	    		@include media($full down) {
			    	width: 90%;
			    }

			    @include media($medium down) {
			    	width: 100%;
			    }

				@include media($small down) {
			    	font-size: 1rem;
			    	width: 120%;
			    }
		    }
		}

		&__arrow {
			position: absolute;
			bottom: 20px;
			left: 50%;
			transform: translateX(-50%);

			// img{
			// 	position: absolute;
			// 	bottom: 20px;
			// 	left: 50%;
			// }
		}
	}
}

.main {
	.other-pages {
		padding-bottom: 20px;
	}
}

.frontpage {
	.main {
		&-section {
			&__eighth {
				height: 500px !important;

				@include media($large down) {
					height: 631px !important;
				}

				.fp-tableCell {
					height: auto !important;
				}
			}
		}
	}
}